.quizz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.quizz--question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.quizz--button {
  height: 60px;
  width: 250px;
  font-size: 1.5rem;

  margin-top: 50px;
}
